@import "style-phone.css";

@media (min-width: 1440px) {

body {
    margin:0%;
    font-family: Roboto;
    min-height: 90vh;
}


/*Headers*/
.console_pic {
    padding-top:20%;
    margin-bottom: 0px;
    animation: console 4s infinite;
    display: block;
    margin:auto;
    animation-timing-function: linear;
}

@keyframes  console {
    0%{transform:translateY(0px)}
    40% {transform:translateY(5px) translateX(0.5px)}
    80% {transform:translateY(-5px)translateX(0.5px)}
    100% {transform:translateY(0px)}
}
.console_pic_remove {display:none}


h1{
    text-align: center;
    font-size: 48px;
    line-height: 1.8;
    margin-bottom: 0;
    margin-top: 0px;
    font-weight:400;

}

h1:hover {color:#FF9811;
transition: 0.6s linear;
transform: scale(1.1);
}

h1:active {color:#2BBBD8;
    transition: 0.6s linear;
    transform: scale(1.1);
    }

h6{  
    text-align: center;
    font-size: 14px;
    line-height: 0.9;
    margin-top: 0;
    font-weight:400;
}

.color-for-result-text {color: #FF9811;}



/*Content*/


section {
    
    width:70%;
    min-height: calc(100vh - 78px);
    margin: auto;
    border: none;
}


/*First block (name input)*/


.name_confirmation_section{

    display: flex;
    align-items: center;
    justify-content:center;

}


.name_confirmation_section_remove{
    
    display: none;

}


#name_input {

    width:273px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding-left: 20px;
    margin-right: 2%;

}


#name_sbt {
    background-color: #2BBBD8;
    color:white;
    font-size: 20px;
    width:124px;
    height: 42px;
    border-radius: 21px;
    border: none;
    cursor: pointer;
}


#name_sbt:hover {
    background-color:#FF9811;
transition: 0.2s linear;
cursor: pointer;}

/*Game block*/


.secondScreen {

    display:none

}


.secondScreenDisplay {
    display:block;
    text-align: center;
    margin-top: 5%;
    
}


/*Rules for game submit button*/

.radio-btn {

    color:#2BBBD8;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;

}

img { 

    display: block;
    margin:auto;
    margin-bottom: 20px;
    
}

.rock {margin-left: 10%;}


.scissors {margin-left: 10%;}


label {

    padding-left: 15px;
    padding-right: 15px;

}


#submitB {

    width: 179px;
    height: 63px;
    background-color:#FF9811;
    color:white;
    border-radius: 40px;
    border:none;
    font-size: 26px;
    margin-top: 5%;
    cursor: pointer;
    transition: 0.5s;

}

#submitB:hover {

    width: 179px;
    height: 63px;
    background-color:#2BBBD8;
    color:white;
    border-radius: 40px;
    border:none;
    font-size: 26px;
    margin-top: 5%;
    cursor: pointer;

}


/*Results*/

.buttons-for-back {
    display: flex;
align-items: center;
justify-content: center;
}


.but {

    border:none; 
    background-color:#FF9811; 
    width:63px;height:63px;
    border-radius:100%;
    margin-left:30px; 
    margin-top: 5%;

}

.but:hover {
    border:none; 
    background-color:#2BBBD8; 
    width:63px;height:63px;
    border-radius:100%;
    margin-left:30px; 
    margin-top: 5%;
}
/*Footer*/

footer {
    width:100%;
    background-color: #2BBBD8;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 78px;
    font-weight: 400;
    line-height: 0.5;
    
}

#git p {
    text-align: center;
    font-weight: 700;
line-height: 0.5;}

}
