@media (max-width: 1139px) {
    
    body{
    min-width:100vw;
    min-height: 100vh;
    margin:0;
    margin:auto;
    border:none;
    font-family: Roboto;

}

h1 {
    font-size:12vw;
    text-align: center;
    margin-bottom: 0px;
    line-height: 1.5;
    margin: 2%;
}

h6 {

    font-size:1.9vw;
    text-align: center;
    margin-top:0px;

}

section {
    
    width:90%;
    min-height: calc(100vh - 120px);
    margin: auto;
    border: none;
}



/*Pictires*/

.console_pic {
    padding-top:40vw;
    margin-bottom: 0px;
    animation: console 4s infinite;
    display: block;
    margin:auto;
    animation-timing-function: linear;
    width:200px;
    height:200px;
}

@keyframes  console {
    0%{transform:translateY(0px)}
    40% {transform:translateY(5px) translateX(0.5px)}
    80% {transform:translateY(-5px)translateX(0.5px)}
    100% {transform:translateY(0px)}
}
.console_pic_remove {display:none}

/*Name block*/


.name_confirmation_section{

    display: flex;
    align-items: center;
    justify-content:center;
    padding-bottom: 15%;

}


.name_confirmation_section_remove{
    
    display: none;

}


#name_input {

    width:296px;
    height: 56px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding-left: 20px;
    margin-right: 3%;
    font-size: 20px;

}


#name_sbt {
    background-color: #2BBBD8 !important;
    color:white;
    font-size: 4vw;
    width:224px;
    height: 72px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}


/*Game block*/

.secondScreen {

    display:none

}


.secondScreenDisplay {
    display:block;
    text-align: center;
    margin-top: 5%;
    
}


/*Rules for game submit button*/

.radio-btn {

    color:#2BBBD8;
    font-size: 36px;
    display: block;

}

img { 

    display: block;
    margin:auto;
    margin-bottom: 20px;
    margin-top: 10%;
    width:200px;
    height: 200px;
    
}


label {

    padding-left: 15px;
    padding-right: 15px;
    font-size:7vw;

}
#paper {

    width:40px;
    height: 40px;

    }

#rock {

        width:40px;
        height: 40px;
        
        }

#scissors {

     width:40px;
    height: 40px;
            
}

#submitB {

    width: 390px;
    height: 100px;
    background-color:#FF9811;
    color:white;
    border-radius: 80px;
    border:none;
    font-size: 46px;
    margin-top: 5%;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 5%;

}


.buttons-for-back {
    display: flex;
align-items: center;
justify-content: center;
padding-top:10%;
margin-bottom: 5%;
}

.but {

    border:none; 
    background-color:#FF9811; 
    width:100px;
    height:100px;
    border-radius:100%;
    margin-left:30px; 

}

#arrow-back {
    padding: 5px; 
    cursor: pointer;
    width:40px;
    height: 40px;}

/*Result*/


.result-header {

    color:black; 
    font-size:20px; 
    font-weight:500
    
}



/*Footer*/

footer {
    width:100%;
    background-color: #2BBBD8;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    font-weight: 400;
    line-height: 0.5;
    font-size:2.5vw;
    
}

#footer_media {display: none;}

#git p {
    text-align: left;
    font-weight: 300;
line-height: 0.5;
font-size:2vw}


/*End of media*/
}
